<?xml version="1.0" ?>
<model>
    <name>maze</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Dhruv</name>
        <email>dhruvpatel187@gmail.com</email>
    </author>
    <description>A simple MAZE world to use in ROS Projects</description>
</model>